#/resources/*
__pycache__/
/*/*/__pycache__
/**/__pycache__

resources/experiments
resources/datasets
resources/wandb
resources/small_test

.DS_Store
.env
*.h5
*.joblib
*md
*.ipynb
*/*.h5

train_framework/Best_models
train_framework/wandb
train_framework/experiments
Img_test_app
Img_test_app/*